{% extends 'index.html' %}


{% block content %}
  <h1 class="ui header green">Issues List</h1>

  <div class="ui large relaxed divided list">
    {% for issue in object_list %}
      <div class="item">
        {% if perms.can_edit_issue or perms.can_delete_issue %}
          <div class="right floated content">
            {% if perms.can_edit_issue %}
              <a class="ui button" href="{% url 'issue_update' pk=issue.pk %}">EDIT</a>
            {% endif %}
            {% if perms.can_delete_issue %}
              <a class="ui button" href="{% url 'issue_delete' pk=issue.pk %}">DELETE</a>
            {% endif %}
          </div>
        {% endif %}
        <div class="content">
          <div class="header">
              Submitter: {{ issue.submitter.username }} </br>
              Solver: {{ issue.solver.username }}
            </a>
          </div>
          <div class="description">
            Description: {{ issue.description }} </br>
            Status: {{ issue.status.display_name }} </br>
            Category: {{ issue.category.display_name }}
          </div>
        </div>
      </div>
    {% empty %}
      <h2 class="ui header green">There's no issues in database!</h2>
    {% endfor %}
  </div>
{% endblock %}

